.speech { color:black; font-family:cursive; font-size:medium}
.direction { color:black; font-family: 'Courier New', Courier, monospace;
font-size:medium; background-color: violet;}
.direction:hover { background-color:rgb(90, 55, 3); color:white}
h4.name { color:black; font-family: 'Times New Roman', Times, serif; 
font-size: large;}
.cleante { color: red}
.lafleche { color:blue}