.speech { color:black; font-family:cursive; font-size:medium}
.direction { color:black; font-family: 'Courier New', Courier, monospace;
font-size:medium; background-color: violet;}
.direction:hover { background-color:rgb(90, 55, 3); color:white}
.name { color:black; font-family: 'Times New Roman', Times, serif; 
font-size: large;}
.cleante { color: red}
.lafleche { color:blue}
table { 
    margin-top: 50px;
    margin-bottom: 25px;
    border: dashed 3px green;
    border-collapse: collapse;
}
td, th { 
    padding: 5px;
    border: solid 1px black;
    text-align: center;
}
tr:nth-child(even) {
    background-color: aquamarine;
}